<!DOCTYPE html>
<html lang="ja">
<head>
<%- 
include('./_common/_metas', {
	root: './',
	current: ''
});
%>
</head>
<body>

	<div id="cvsWrap">
		<canvas id="cvs"></canvas>
	</div>
	
	<main>
		<section id="top">
			<p>t o p</p>
		</section>
		<section id="intro">
			<article>
				<h1>HELLO, WORLD</h1>
				<p>あははははははははは</p>	
			</article>
		</section>
	</main>

	<% include _common/_footer %>
</body>
</html>