<header>
    <div id="header_content">
        <a href="<%= path; %>">LOGO</a>
        <nav>
            <a href="<%= path; %>about/index.html">ABOUT</a>
            <a href="">WORKS</a>
            <a href="">CONTACT</a>
        </nav>
    </div>
</header>