<!DOCTYPE html>
<html lang="ja">
<head>
	<%- 
	include('../../../_ejs/_common/_metas', {
		path: '../../'
	});
	%>

	<link rel="stylesheet" href="../../css/_common/reset.css">
	<link rel="stylesheet" href="../css/_common/header.css">
	<link rel="stylesheet" href="../css/_common/footer.css">
	<link rel="stylesheet" href="../css/about.css">
</head>
<body>

	<%-
	include('../_common/_header', {
		path: '../'
	});
	%>
	
    <main>
		<p>about</p>
	</main>

	<% include ../_common/_footer %>

	<script src="../js/main.js"></script>
</body>
</html>